*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:rgb(29, 29, 49);
    
}

h1{
    font-size: 100px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: rgb(219, 209, 255);
    background-attachment: fixed;
    filter: contrast(80%);
    
    & ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    & ul li{
        margin: 50px;
        list-style-type: none;
        
    }
}
section:nth-of-type(1){
    
    
    display: flex;
    justify-content: center;
    flex-direction: column;

    & .title{
        width: 100%;
        height: 90vh;
        // background-color:rgb(30, 30, 30);
        // background-image: url(../rendu_SCSS/img/dev_bck.PNG);
        background-color: rgb(219, 209, 255);
        background-size: cover;
        object-fit: cover ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        color: rgb(24, 24, 50);
        background-position: center;
        // filter: saturate(10%);
        
        

        
        & div{
            width: 800px;
            border: solid 3px rgb(29, 29, 49);
            height: 50%;
            border-radius: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;

            
        }
    }
}

section:nth-of-type(2){
    background-color: rgb(219, 209, 255);
    margin-top: 150px;
    // margin-top: 150px;
    
    & article:nth-of-type(1){
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        color: rgb(29, 29, 49);
        filter: contrast(80%);
    }
}
    .grid{
    
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
        margin-bottom: 200px;
        

        & div{
            border-radius: 10px;
            margin: 60px 40px;
            background-color: rgb(192, 175, 255);
            padding: 60px;

        }


        & div:nth-of-type(1){
            grid-column: 1;
            grid-row: 1;
            margin-left: 100px;
            margin-top: 50px;
            
        }
        & div:nth-of-type(2){
            grid-column: 2;
            grid-row: 1;
            margin-right: 100px;
            margin-top: 50px;
            
        }
        & div:nth-of-type(3){
            grid-column: 1;
            grid-row: 2;
            margin-left: 100px;
            margin-bottom: 150px;
            
        }
        & div:nth-of-type(4){
            grid-column: 2;
            grid-row: 2;
            margin-right: 100px;
            margin-bottom: 150px;
        }
        
    }



