@import 'abstract/mixins';

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}
body{
    background-color:rgb(29, 29, 49);
}

a{
    text-decoration: none;
    color: rgb(219, 209, 255);
}
h1{
    font-size: 100px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
}

p{
    text-align: justify;
}

// Responsive <1200px
@include xs{
    h1{
        font-size: 70px;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 25px;
    }
}

footer, header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: rgb(219, 209, 255);
    background-color:rgb(29, 29, 49);
    
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;

        ul{
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            
        }
        
        
        ul:hover{
            background-color: coral;
        }
    }

    ul li{
        list-style-type: none;
        margin: 0 30px;
    }
}
header{
    @include xs{
        display: none;
    }
}

// Summary
.scrollbar{
    width: 200px;
    position: fixed;
    top: 0;
    right:0;
    bottom: -100px;
    background-color: rgba(23, 23, 39, 0.9);
    transform: translateX(200px); 
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 225px;
    margin-top: 0;
    z-index: 2;
    color: rgb(219, 209, 255);
    display: flex;

    &:hover{
        transform: translateX(0); 
        .summary{
            opacity: 0;
        }
    }
    li{
        text-align: center;
        list-style-type: none;
        font-size: 15px ;
    }
    ul{
        margin: 5px 0;
        width: 200px;
        padding: 20px;
        cursor: pointer;
        &:hover{
            background-color: coral;
        }
    }
    .summary{
        writing-mode: vertical-rl;
        text-orientation: upright;
        align-self: center;
        margin-bottom: 300px;
    }

    
}
// Burger Responsive
.burger, .x{
    cursor: pointer;
    width: 50px;
    position:fixed;
    top: 20px;
    left: 20px;
    display: block;
    @include xl{
        display: none;
    }
    @include xxs{
        width: 40px;
    }
}
.menu-burger{
    width: 200px;
    position: fixed;
    top: 0;
    left:0;
    bottom: -100px;
    background-color: rgba(23, 23, 39, 0.9);
    transform: translateX(-500px); 
    padding-top: 100px;
    padding-right: 50px;
    margin-top: 0;
    z-index: 2;

    li{
        text-align: center;
        list-style-type: none;
        font-size: 20px ;
    }
    ul{
        margin: 5px 0;
        width: 200px;
        padding: 20px;

        &:hover{
            background-color: coral;
        }
    }
}

// Toggles
.visible{
    transform: translateX(0);
}
.invisible{
    transform: translateX(-500px); 
}
.visible_p{
    opacity: 0;
    height: 0;
    transition: 0.2s ease-out;
}

// Scroll arrow
.slide{
    scale: 2;
    margin-top: 30px;
    cursor: pointer;
    @include xs{
        display: none;;
    }
}

// Home page
.index{
    section:nth-of-type(1){
        display: flex;
        justify-content: center;
        flex-direction: column;

        .home{
            width: 100%;
            height: 100vh;
            background-color: rgb(103, 101, 101);
            background-size: cover;
            background-image: url(https://media.istockphoto.com/photos/developer-screen-with-colored-website-programming-code-picture-id1161918104?b=1&k=20&m=1161918104&s=170667a&w=0&h=NG2dfcrxrW0ZWtf2vkicNatgUx5nNRZyT-b0-hvJELs=);
            background-attachment: fixed;
            background-blend-mode:multiply;
            object-fit: cover ;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction:column;
            color: rgb(219, 209, 255);
            background-position: center;
            @include xs{
                height: 50vh;
            }
            
            & div:nth-of-type(1){
                width: 800px;
                border: solid 3px rgb(219, 209, 255);
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
                @include xs{
                    width: 350px;
                }
            }
        }
    }
    section:nth-of-type(2){
        padding: 50px;
        margin-top: 10px;
            
        .description{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px;
            color: rgb(219, 209, 255);
            background-color:rgb(22, 22, 37);
            margin-bottom: 50px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

            div:nth-of-type(1){
                width: 150px;
                height: 150px;
                background-color: bisque;
                border-radius: 50%;
                background-image: url(img/profil.jpg);
                background-size: cover;
                margin-top: 20px;
            }
            p{
                padding: 20px;
            }    
        }
        div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            
            }
        }
    .section{
        width: 100%;
        height: 150px;

        &-1{
            @include bouton_section;
            background-image: url(https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNraWxscyUyMGRldnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
            @include xs{
                width: 300px;
            }
        }
        &-2{
            @include bouton_section;
            background-image: url(https://images.unsplash.com/photo-1531741403586-c19915ad5d0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGRldiUyMGNzc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
            background-position: center;
            @include xs{
                width: 300px;
            }
        }
    }
}

// Skills page
.skills{
    li{
        font-size: 20px;
        color: rgb(219, 209, 255);
        list-style-type:circle;
    }
    .title{
        @include title;
        background-image: url(https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNraWxscyUyMGRldnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
        @include xs{
            background-size:auto;
            height: 200px;
            background-position: top;
        }
    }
        
    article{
        margin-top: 40px ;
        margin-left: 100px;
        color: rgb(219, 209, 255);
    }

    fieldset{
        @include fieldset;
        @include xs{
            text-align: center;
            ul{
                margin-bottom: 20px;
            }
        }
    }
    @include xl{
        // Hardskills
        .grid{
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            
            ul{
                margin-bottom: 20px;
            }
            
            fieldset:nth-of-type(1){
                grid-column: 1;
                grid-row: 1;
                margin-left: 100px;
                margin-top: 50px;
            }
            fieldset:nth-of-type(2){
                grid-column: 2;
                grid-row: 1;
                margin-right: 100px;
                margin-top: 50px;
                
            }
            fieldset:nth-of-type(3){
                grid-column: 1;
                grid-row: 2;
                margin-left: 100px;
            
            }
            fieldset:nth-of-type(4){
                grid-column: 2;
                grid-row: 2;
                margin-right: 100px;
            }
        }
// Softskills
        .flex{
            height: auto;
            display: flex;
            margin: 0 50px 100px 50px;
            ul{
                display: flex;
                justify-content: space-around;
                
                
            }

            li{
                margin: 20px 80px;
                text-align: left;
                width: 100%;
                text-align: center;
                

            }
        }
    }

    // Summary Skills page
    .front, .back, .uiux, .others, .soft{
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 20px;
        scale: 1.2;
    }
}

// Projects page
.projects{
    .title{
        @include title;
        background-image: url(https://images.unsplash.com/photo-1531741403586-c19915ad5d0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGRldiUyMGNzc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
        background-position: bottom; 
        @include xs{
            background-size:auto;
            height: 200px;
            background-position: left top;
        }
    }
    article{
        margin-top: 40px ;
        margin-left: 100px;
        color: rgb(219, 209, 255);
    }
    fieldset{
        @include fieldset;
    }
    // Teacher mobile application
    fieldset:nth-of-type(1){
        
        .grid{
            @include xl{
            height: 600px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 50px;
            }
            div:not(:nth-last-child(-n+2)):hover{
                scale: 1.1;
            }
            
            div:nth-of-type(1){
                grid-column: 1;
                grid-row: 1;
                background-image: url(img/projects/figma/1.png);
                @include background_grid;
            }
            div:nth-of-type(2){
                grid-column: 2;
                grid-row: 1 ;
                background-image: url(img/projects/figma/2.png);
                @include background_grid;
            }
            div:nth-of-type(3){
                grid-column: 3;
                grid-row: 1;
                background-image: url(img/projects/figma/3.png);
                @include background_grid;
            }
            div:nth-of-type(4){
                grid-column: 4;
                grid-row: 1;
                background-image: url(img/projects/figma/4.png);
                @include background_grid;
            }
            div:nth-of-type(5){
                grid-column: 5;
                grid-row: 1;
                background-image: url(img/projects/figma/5.png);
                @include background_grid;
            }
            div:nth-of-type(6){
                grid-column: 6;
                grid-row: 1;
                background-image: url(img/projects/figma/6.png);
                @include background_grid;
            }
            div:nth-of-type(7){
                grid-column: 7;
                grid-row: 1;
                background-image: url(img/projects/figma/7.png);
                @include background_grid;
            }
            div:nth-of-type(8){
                grid-column: 8;
                grid-row: 1;
                background-image: url(img/projects/figma/8.png);
                @include background_grid;
            }
            div:nth-of-type(9){
                grid-column: 9;
                grid-row: 1;
                background-image: url(img/projects/figma/9.png);
                @include background_grid;
            }
            div:nth-of-type(10){
                grid-column: 1/6;
                grid-row: 2;
                background-image: url(img/projects/figma/10.png);
                @include background_grid;
            }
            div:nth-of-type(11){
                grid-column: 5/10;
                grid-row: 2;
                background-image: url(img/projects/figma/11.png);
                @include background_grid;
            }
        }
    }
    // PULV events application
    fieldset:nth-of-type(2){

        article{
            text-align: center;
            margin: 40px 0;
        }
        .grid{
            @include xl{
            display: grid;
            margin: 40px 0;

            div:hover{

                scale: 1.1;
            }
            &-home{
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
                grid-template-rows: 1fr;
                height: 400px;
        
                div:nth-of-type(1){
                    grid-column: 1;
                    grid-row: 1;
                    background-image: url(img/projects/xd/home_1.png);
                    @include background_grid;
                }
                div:nth-of-type(2){
                    grid-column: 2;
                    grid-row: 1 ;
                    background-image: url(img/projects/xd/home_2.png);
                    @include background_grid;
                }
                div:nth-of-type(3){
                    grid-column: 3;
                    grid-row: 1;
                    background-image: url(img/projects/xd/home_3.png);
                    @include background_grid;
                }
                div:nth-of-type(4){
                    grid-column: 4;
                    grid-row: 1;
                    background-image: url(img/projects/xd/home_d_1.png);
                    @include background_grid;
                }
                div:nth-of-type(5){
                    grid-column: 5;
                    grid-row: 1;
                    background-image: url(img/projects/xd/home_d_2.png);
                    @include background_grid;
                }
                div:nth-of-type(6){
                    grid-column: 6;
                    grid-row: 1;
                    background-image: url(img/projects/xd/home_d_3.png);
                    @include background_grid;
                }
            }

            &-tuto{
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
                grid-template-rows: 1fr;
                height: 300px;
                
                div:nth-of-type(1){
                    grid-column: 1;
                    grid-row: 1;
                    background-image: url(img/projects/xd/tuto1.png);
                    @include background_grid;
                }
                div:nth-of-type(2){
                    grid-column: 2;
                    grid-row: 1 ;
                    background-image: url(img/projects/xd/tuto2.png);
                    @include background_grid;
                }
                div:nth-of-type(3){
                    grid-column: 3;
                    grid-row: 1;
                    background-image: url(img/projects/xd/tuto3.png);
                    @include background_grid;
                }
                div:nth-of-type(4){
                    grid-column: 4;
                    grid-row: 1;
                    background-image: url(img/projects/xd/tuto4.png);
                    @include background_grid;
                }
                div:nth-of-type(5){
                    grid-column: 5;
                    grid-row: 1;
                    background-image: url(img/projects/xd/tuto5.png);
                    @include background_grid;
                }
                div:nth-of-type(6){
                    grid-column: 6;
                    grid-row: 1;
                    background-image: url(img/projects/xd/tuto6.png);
                    @include background_grid;
                }
                div:nth-of-type(7){
                    grid-column: 7;
                    grid-row: 1;
                    background-image: url(img/projects/xd/tuto7.png);
                    @include background_grid;
                }
                div:nth-of-type(8){
                    grid-column: 8;
                    grid-row: 1;
                    background-image: url(img/projects/xd/tuto8.png);
                    @include background_grid;
                }
            }

            &-search{
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                height: 400px;
                width: 700px;
                margin: 40px auto;

                div:nth-of-type(1){
                    grid-column: 1;
                    grid-row: 1 ;
                    background-image: url(img/projects/xd/sort.png);
                    @include background_grid;
                }
                div:nth-of-type(2){
                    grid-column: 2;
                    grid-row: 1;
                    background-image: url(img/projects/xd/search_1.png);
                    @include background_grid;
                }
                div:nth-of-type(3){
                    grid-column: 3;
                    grid-row: 1;
                    background-image: url(img/projects/xd/search_2.png);
                    @include background_grid;
                }
            }

            &-event{
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                height: 400px;
                width: 1100px;
                margin: 40px auto;

                div:nth-of-type(1){
                    grid-column: 1;
                    grid-row: 1;
                    background-image: url(img/projects/xd/event_1.png);
                    @include background_grid;
                }
                div:nth-of-type(2){
                    grid-column: 2;
                    grid-row: 1 ;
                    background-image: url(img/projects/xd/event_2.png);
                    @include background_grid;
                }
                div:nth-of-type(3){
                    grid-column: 3;
                    grid-row: 1;
                    background-image: url(img/projects/xd/event_3.png);
                    @include background_grid;
                }
                div:nth-of-type(4){
                    grid-column: 4;
                    grid-row: 1;
                    background-image: url(img/projects/xd/ticket_1.png);
                    @include background_grid;
                }
                div:nth-of-type(5){
                    grid-column: 5;
                    grid-row: 1;
                    background-image: url(img/projects/xd/ticket_2.png);
                    @include background_grid;
                }
            }
            &-admin{
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                height: 400px;
                width: 900px;
                margin: 40px auto;

                div:nth-of-type(1){
                    grid-column: 1;
                    grid-row: 1;
                    background-image: url(img/projects/xd/profile.png);
                    @include background_grid;
                }
                div:nth-of-type(2){
                    grid-column: 2;
                    grid-row: 1 ;
                    background-image: url(img/projects/xd/admin_1.png);
                    @include background_grid;
                }
                div:nth-of-type(3){
                    grid-column: 3;
                    grid-row: 1;
                    background-image: url(img/projects/xd/admin_2.png);
                    @include background_grid;
                }
                div:nth-of-type(4){
                    grid-column: 4;
                    grid-row: 1;
                    background-image: url(img/projects/xd/admin_3.png);
                    @include background_grid;
                }
            }
        }
    }
    }
    // Ken Kaneki Project 
    fieldset:nth-of-type(3){

        article{
            text-align: center;
            margin: 40px 0;
        }
        p{
            margin: 20px 0;
        }
        .grid{
            @include xl{
                display: grid;
                margin: 40px 0;
                
                &-home{
                    grid-template-columns: 1fr 1fr ;
                    grid-template-rows: 1fr;
                    height: 400px;

                    div:nth-of-type(1){
                        grid-column: 1;
                        grid-row: 1;
                        background-image: url(img/projects/kk/1.png);
                        @include background_grid;
                    }
                    div:nth-of-type(2){
                        grid-column: 2;
                        grid-row: 1 ;
                        background-image: url(img/projects/kk/2.PNG);
                        @include background_grid;
                    }
                }
                &-rubric{
                    grid-template-columns: 1fr 1fr ;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    height: 1300px;

                    div:nth-of-type(1){
                        grid-column: 1;
                        grid-row: 1;
                        background-image: url(img/projects/kk/3.PNG);
                        @include background_grid;
                    }
                    div:nth-of-type(2){
                        grid-column: 2;
                        grid-row: 1 ;
                        background-image: url(img/projects/kk/4.PNG);
                        @include background_grid;
                    }
                    div:nth-of-type(3){
                        grid-column: 1;
                        grid-row: 2;
                        background-image: url(img/projects/kk/5.PNG);
                        @include background_grid;
                    }
                    div:nth-of-type(4){
                        grid-column: 2;
                        grid-row: 2;
                        background-image: url(img/projects/kk/6.PNG);
                        @include background_grid;
                    }
                    div:nth-of-type(5){
                        grid-column: 1;
                        grid-row: 3;
                        background-image: url(img/projects/kk/7.PNG);
                        @include background_grid;
                    }
                    div:nth-of-type(6){
                        grid-column: 2;
                        grid-row: 3;
                        background-image: url(img/projects/kk/8.PNG);
                        @include background_grid;
                    }
                    div:nth-of-type(7){
                        grid-column: 1;
                        grid-row: 4;
                        background-image: url(img/projects/kk/9.PNG);
                        @include background_grid;
                    }
                    div:nth-of-type(8){
                        grid-column: 2;
                        grid-row: 4;
                        background-image: url(img/projects/kk/10.PNG);
                        @include background_grid;
                    }
                }

                &-use{
                    grid-template-columns: 1fr 1fr ;
                    grid-template-rows: 1fr 1fr 1fr;
                    height: 1000px;
                    

                    div:nth-of-type(1){
                        grid-column: 1;
                        grid-row: 1;
                        background-image: url(img/projects/kk/11.png);
                        @include background_grid;
                    }
                    div:nth-of-type(2){
                        grid-column: 1;
                        grid-row: 2 ;
                        background-image: url(img/projects/kk/12.png);
                        @include background_grid;
                    }
                    div:nth-of-type(3){
                        grid-column: 1;
                        grid-row: 3;
                        background-image: url(img/projects/kk/13.PNG);
                        @include background_grid;
                    }
                    p{
                        align-self: center;
                    }
                    p:nth-of-type(1){
                        grid-column: 2;
                        grid-row: 1;
                    }
                    p:nth-of-type(2){
                        grid-column: 2;
                        grid-row: 2;
                    }
                    p:nth-of-type(3){
                        grid-column: 2;
                        grid-row: 3;
                    }
                }
            }
        }
    }
}
.xs{
    max-width: 100%;
}
@include xl{
    .xs{
        display: none;
    }
}

@include xs{
    .xs{
        max-height: 250px;
        margin: 0 5px;
    }
    .scrollbar{
        display: none;
    }
    .grid{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
}
@include xxs{
    .xs{
        max-height: 140px;
        
    }
}
