@import 'abstract/mixins';

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}
body{
    background-color:rgb(29, 29, 49);
}

a{
    text-decoration: none;
    color: rgb(219, 209, 255);
}
h1{
    font-size: 100px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
}



footer, header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: rgb(219, 209, 255);
    background-color:rgb(29, 29, 49);
    
    & ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;

        & ul{
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            
        }
        
        
        & ul:hover{
            background-color: coral;
        }
    }

    & ul li{
        list-style-type: none;
        margin: 0 30px;
    }
}
.slide{
    scale: 2;
    margin-top: 30px;
    cursor: pointer;
}
.index{
    & section:nth-of-type(1){
        display: flex;
        justify-content: center;
        flex-direction: column;

        & .home{
            width: 100%;
            height: 100vh;
            background-color: rgb(103, 101, 101);
            background-size: cover;
            background-image: url(https://media.istockphoto.com/photos/developer-screen-with-colored-website-programming-code-picture-id1161918104?b=1&k=20&m=1161918104&s=170667a&w=0&h=NG2dfcrxrW0ZWtf2vkicNatgUx5nNRZyT-b0-hvJELs=);
            background-attachment: fixed;
            background-blend-mode:multiply;
            object-fit: cover ;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction:column;
            color: rgb(219, 209, 255);
            background-position: center;
            
            & div:nth-of-type(1){
                width: 800px;
                border: solid 3px rgb(219, 209, 255);
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
            }
        }
    }
    & section:nth-of-type(2){
        padding: 50px;
        margin-top: 10px;
            
        & .description{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px;
            color: rgb(219, 209, 255);
            background-color:rgb(22, 22, 37);
            margin-bottom: 50px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

            & div:nth-of-type(1){
                width: 150px;
                height: 150px;
                background-color: bisque;
                border-radius: 50%;
                background-image: url(../rendu_SCSS/img/profil.jpg);
                background-size: cover;
                margin-top: 20px;
            }
            & p{
                padding: 20px;
            }    
        }
        & div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            
            }
        }
    & .section{
        width: 100%;
        height: 150px;

        &-1{
            @include bouton_section;
            background-image: url(https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNraWxscyUyMGRldnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
        }
        &-2{
            @include bouton_section;
            background-image: url(https://images.unsplash.com/photo-1531741403586-c19915ad5d0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGRldiUyMGNzc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
            background-position: center;
        }
    }
}


.title{
        @include title;
        background-image: url(https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNraWxscyUyMGRldnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);

}
.skills{
    

    & article{
        margin-top: 40px ;
        margin-left: 100px;
        color: rgb(219, 209, 255);
    }

    & fieldset{
        @include fieldset;
    }

    & .grid{
    
        // height: 1000px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
    
        
        & fieldset:nth-of-type(1){
            grid-column: 1;
            grid-row: 1;
            margin-left: 100px;
            margin-top: 50px;
            
        }
        & fieldset:nth-of-type(2){
            grid-column: 2;
            grid-row: 1;
            margin-right: 100px;
            margin-top: 50px;
            
        }
        & fieldset:nth-of-type(3){
            grid-column: 1;
            grid-row: 2;
            margin-left: 100px;
            
            
        }
        & fieldset:nth-of-type(4){
            grid-column: 2;
            grid-row: 2;
            margin-right: 100px;
            
        }
        
    }
    & .flex{
        height: auto;
        display: flex;
        margin: 0 50px 100px 50px;

}
}
